body {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    text-align: center;
}


label {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
}

::backdrop {
    backdrop-filter: blur(10px);
}

dialog {
    background-color: bisque;
    border-radius: 16px;
}

.btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: rgb(58, 58, 58);
    cursor: pointer;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.newBookForm {
    display: flex;
    flex-direction: column;
}

.formButtons {
    align-self: center;
}

input {
    flex: 1;
    margin-bottom: 16px;
    line-height: 24px;
    border-radius: 8px;
    border: none;
}


input[type="checkbox"] {
    width: auto;
    transform: scale(1.5);
}

.checkboxLabel {
    flex-wrap: nowrap;
    display: inline;
}

.ratingRange {
    flex-wrap: nowrap;
    display: flex;
}

.submitBtn {
    background-color: green;
    margin-top: 8px;
}

.submitBtn:hover {
    background-color: rgb(0, 98, 0);
}


.header {
    background-color: rgb(0, 255, 238);
    position: relative;
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.7);
}

.main {
    background-color: rgb(205, 205, 205);
}

.bookDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 16px;
    padding: 16px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.book {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: bisque;
    column-gap: 4px;
    border-radius: 16px;
    border: 1px solid black;
    padding: 8px;
}

.bookHeader {
    justify-self: center;
}

.deleteBtn {
    background-color: red;
    color: white;
}

.deleteBtn:hover {
    background-color: rgb(190, 0, 0);
}

.toggleReadBtn {
    background-color: black;
    color: white;
}